html {
  width: 100%;
  height: 100%;
}

.header-container {
  background-color: white;
  padding: 20px; /* Optional: Add some padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for better separation */
}

.header-container h1 {
  margin: 0; /* Optional: Remove default margin */
  font-size: 24px; /* Optional: Adjust the font size */
  color: #be38f3; /* Optional: Adjust the font color */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 2px solid #ddd;
}

.video-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video-container iframe {
  width: 80%;
  height: 400px;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 8px 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

nav.sticky-nav {
  background-color: #333;
  overflow: hidden;
}

nav.sticky-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9900ff;
}

nav.sticky-nav li {
  float: left;
}

nav.sticky-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.sticky-nav li a:hover {
  background-color: #66067a;
  color: black;
}

footer {
  text-align: center;
}

h1 {
  color: #333;
  text-shadow: 2px 2px 4px #000;
}